<launch>


  <node pkg="collider" type="collider_node" name="collider_node" respawn="true" output="screen">
     
     <param name="fixed_frame" type="string" value="odom_combined" />
     <param name="resolution" type="double" value="0.1" /> <!-- bylo 0.025 -->
     <param name="max_range" type="double" value="4" /> <!-- bylo neco mensiho... -->
     <param name="publish_static_over_dynamic_map" value="false" /> <!-- co to znamena?????? -->
     <param name="sensor_model_hit" value= "0.8" />
     <param name="sensor_model_miss" value= "0.31" />
     <param name="sensor_model_min" value= "0.12" />
     <param name="sensor_model_max" value= "0.95" />   

     <remap from="collision_map_out" to="collision_map_occ" />
     <remap from="point_cloud_out" to="octomap_point_cloud" />

     <rosparam command="load" file="$(find srs_arm_navigation_percp)/config/collision_map_sources.yaml"/>
     <rosparam command="load" file="$(find srs_arm_navigation_percp)/config/self_filter.yaml" />
   
   </node>
  
</launch>
