<launch>
	<!-- Set to use simulation time -->
	<param name="/use_sim_time" value="true"/>

	<!-- Load robot parameters -->
	<include file="$(find cob_default_robot_config)/upload_param.launch" />
	
	<!-- Load world parameters -->
	<include file="$(find cob_default_env_config)/upload_param.launch" />
    
	<!-- Run gazebo simulation in the default configuration -->
	<include file="$(find cob_bringup_sim)/launch/robot.launch" />
    
	<!-- Launch 2d navigation -->
	<include file="$(find cob_2dnav)/ros/launch/2dnav.launch" />
       
	<!-- Run our dynamic scene model server node -->
	<include file="$(find srs_env_model)/launch/only_butserver.launch"/>
    
	<!-- Run our GUI nodes -->
	<node pkg="cob_interactive_teleop" type="but_cob_teleop" name="but_cob_teleop" />
<!--	<node pkg="srs_ui_but" type="view" name="view" /> -->
	<node pkg="srs_ui_but" type="but_service_server" name="but_service_server" />

	<!-- Run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-f /map -d $(find srs_env_model)/config/majkl2.vcg"/>
</launch>

