<?xml version="1.0"?>
<launch>
	<!-- Run compressed pointcloud decompressor node -->
	<node pkg="srs_env_model" type="but_cpc_node" name="but_cpc_node" >
		<remap from="input" to="/but_env_model/octomap_updates"/>
		<remap from="output" to="/but_env_model/cpc_pointcloud_centers" />
	</node>

	<!-- Run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-l -f /map -d $(find srs_env_model)/config/envmodel_robot.vcg"/>

</launch>

