<?xml version="1.0"?>
<launch>
   <!-- Configuration for COB, bringup simulation -->
   <include file="$(find cob_default_robot_config)/upload_param.launch" />
   <include file="$(find cob_default_env_config)/upload_param.launch" />
   <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
   <include file="$(find cob_bringup_sim)/launch/robot.launch" />

   <include file="$(find srs_env_model)/launch/only_butserver.launch"/>
   
   <include file="$(find srs_env_model)/launch/but_dynmodel_compressor.launch"/>
   <include file="$(find srs_env_model)/launch/but_dynmodel_decompressor.launch"/>
   
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find srs_env_model)/config/compression_test.vcg" />

</launch>
