<launch>
        <!-- Set 3d camera maximal relevant distance in meters -->
        <param name="but_server_node/max_range" type="double" value="4.5"/>

        <!-- Run our dynamic scene model server node -->
        <node name="but_server_node" pkg="srs_env_model" type="but_server_node" />
</launch>
