<?xml version="1.0"?>
<launch>
    <!-- Run our dynamic scene model server node -->
    <node name="but_server_node" pkg="srs_env_model" type="but_server_node">
	
        <!-- Node parameters -->
        <rosparam file="$(find srs_env_model)/config/environment_server_defaults.yaml" command="load"/>

	<remap from="but_server_node/camera_info" to="/cam3d/rgb/camera_info" />
	<remap from="but_server_node/points_in" to="/cam3d/rgb/points" />
	<remap from="but_server_node/rviz_camera_position" to="/rviz_camera_position" />
    </node>
</launch>

