<?xml version="1.0"?>
<launch>

	<!-- args -->
	<arg name="robot" value="cob3-3"/>
	<arg name="pc1" default="cob3-3-pc1"/>
	<arg name="pc2" default="cob3-3-pc2"/>
	<arg name="pc3" default="cob3-3-pc3"/>

	<group>
		<machine name="pc1" address="$(arg pc1)" default="true"/>

		<!-- navigation -->
		<!--include file="$(find cob_navigation_slam)/launch/2dnav_ros_dwa.launch" /-->
		<include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />

		<!-- Run the interactive teleop -->
		<include file="$(find cob_interactive_teleop)/launch/interactive_teleop.launch"/>

		<!-- Run the footprint marker visualization -->
		<include file="$(find srs_ui_but)/launch/footprint_marker.launch" />
	</group>

	<group>
		<machine name="pc2" address="$(arg pc2)" default="true"/>

		<!-- Kinect throttling -->
		<!-- This is no more needed, IPA's new kinect throttling is used -->
		<!--include file="$(find srs_env_model_utils)/launch/kinect_throttling.launch">
			<arg name="max_rate" value="0.3" />
		</include-->
	</group>

	<group>
		<machine name="pc3" address="$(arg pc3)" default="true"/>

		<!-- Run our dynamic scene model server node -->
		<include file="$(find srs_arm_navigation_tests)/launch/grasping_unknown_object_test_rob.launch" />
	</group>

	<machine name="pc1" address="$(arg pc1)" default="true"/>

</launch>

