<?xml version="1.0"?>
<launch>

  <arg name="exp" default="e0"/>
  <arg name="task" default="man1"/>
  <arg name="cond" default="a"/>
  <arg name="sim" default="true"/>

  <!-- manipulation remote monitor application -->
  <node pkg="srs_user_tests" name="bb_overlap_node" type="bb_overlap_node" output="screen">

    <!-- value defines what will be considered as sucessful bb placement (overlap) -->
    <param name="sucess_val" type="double" value="0.85"/>

    <!-- minimal duration of sucessful overla -->
    <param name="sucess_min_dur" type="double" value="2.0"/>

    <param name="publish_debug_markers" type="bool" value="false"/>

    <!-- load predefined position of BB -->
    <rosparam if="$(arg sim)" file="$(find srs_user_tests)/ros/config/$(arg exp)/$(arg task)/bb_position_sim.yaml" command="load" />

    <rosparam unless="$(arg sim)" file="$(find srs_user_tests)/ros/config/$(arg exp)/$(arg task)/bb_position.yaml" command="load" />

  </node>



</launch>
