<?xml version="1.0"?>
<launch>

  <arg name="exp" default="e1"/>
  <arg name="task" default="nav1"/>

  <node name="move_robot_sim" pkg="srs_user_tests" type="move_robot.py" respawn="false" output="screen">
    <rosparam file="$(find srs_user_tests)/ros/config/$(arg exp)/$(arg task)/robot_position.yaml" command="load"/>
  </node>

</launch>
