<?xml version="1.0"?>
<launch>

	<!-- args -->
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="robot_env" default="$(optenv ROBOT_ENV !!NO_ROBOT_ENV_SET!!)"/>
	<arg name="pc1" default="cob3-3-pc1"/>
	<arg name="pc2" default="cob3-3-pc2"/>
	<arg name="pc3" default="cob3-3-pc3"/>

	<group>
		<machine name="pc1" address="$(arg pc1)" default="true"/>

		<!-- navigation -->
		<!--include file="$(find cob_navigation_slam)/launch/2dnav_ros_dwa.launch" /-->
		<include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" >
			<arg name="map" value="$(find srs_user_tests)/ros/config/$(arg robot_env)/map.yaml"/>
		</include>

		<!-- Run the interactive teleop -->
		<include file="$(find cob_interactive_teleop)/launch/interactive_teleop.launch">
			<arg name="param_file" value="$(find srs_user_tests)/ros/config/interactive_teleop.yaml" />
		</include>

		<!-- Run the footprint marker visualization -->
		<include file="$(find srs_ui_but)/launch/footprint_marker.launch" />
	</group>

	<group>
		<machine name="pc2" address="$(arg pc2)" default="true"/>

		<!-- Kinect throttling -->
		<!-- This is not needed any more, IPA's new kinect throttling is used -->
		<!--include file="$(find srs_env_model_utils)/launch/kinect_throttling.launch">
			<arg name="max_rate" value="1.0" />
		</include-->
	</group>

	<group>
		<machine name="pc3" address="$(arg pc3)" default="true"/>
        
		<!-- Run BUT dynamic scene model server node -->
		<include file="$(find srs_env_model)/launch/but_envmodel_robot.launch" />

		<!-- Run BUT plane detection node -->
		<!--include file="$(find srs_env_model_percp)/launch/but_planedet_robot.launch" /-->

		<!-- Load predefined voxel map -->
		<!--include file="$(find srs_user_tests)/ros/launch/load_octomap.launch" /-->

		<!-- Load predefined geometric map -->
		<!--include file="$(find srs_user_tests)/ros/launch/load_geommap.launch" /-->
	</group>

	<machine name="pc1" address="$(arg pc1)" default="true"/>

</launch>

