<?xml version="1.0"?>
<launch>

 <arg name="exp"/>
 <arg name="task"/>
 <arg name="sim" default="false"/>

 <arg name="pc1" default="cob3-3-pc1"/>
 <arg name="pc2" default="cob3-3-pc2"/>
 <arg name="pc3" default="cob3-3-pc3"/>

 <group>
  
  <!-- run localization on PC1 -->
  <machine name="pc1" address="$(arg pc1)" default="true" unless="$(arg sim)"/>
	  
  <!-- navigation with different map for simulation/real testing site -->
  <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" >
	 <arg name="map" if="$(arg sim)" value="$(find srs_user_tests)/ros/config/$(arg robot_env)-sim/map.yaml"/>
	 <arg name="map" unless="$(arg sim)" value="$(find srs_user_tests)/ros/config/$(arg robot_env)/map.yaml"/>
  </include>

 </group>

</launch>
