<?xml version="1.0"?>
<launch>

  <arg name="exp"/>
  <arg name="task"/>
  <arg name="cond"/>
  <arg name="sim" default="false"/>
  <arg name="log" default="true"/>
  <arg name="id"/> <!-- ID of participant -->
  
  <!--arg name="pc1" default="cob3-3-pc1"/>
  <arg name="pc2" default="cob3-3-pc2"/>
  <arg name="pc3" default="cob3-3-pc3"/-->

  <!-- include common stuff for given task -->
  <include file="$(find srs_user_tests)/ros/config/$(arg exp)/$(arg task)/task_remote.xml">
    <arg name="exp"  value="$(arg exp)"/>
    <arg name="task" value="$(arg task)"/>
    <arg name="cond" value="$(arg cond)"/>
    <arg name="sim"  value="$(arg sim)"/>
  </include>
  
  <group if="$(arg log)">

    <!-- trigger logging (on the robot) -->
    <!--node name="logger_trigger" pkg="srs_user_tests" type="logger_trigger.py"/-->
  
    <!-- screenshot logging on localhost machine -->
    <node name="screenshotscript" pkg="srs_user_tests" type="screenshot_script.sh" output="screen" args="$(find srs_user_tests)/data/logs/$(arg id)/$(arg exp)/$(arg task)/$(arg cond)"/>
  
  </group>
	
</launch>
