<?xml version="1.0"?>
<launch>

	<!-- Run the DM server -->
	<node name="task_executor" pkg="srs_control_task" type="task_executor.py" respawn="true"/>
        <node name="translate_server" pkg="srs_control_task" type="translate_server.py" respawn="true"/>
        <node name="decisionMaking" pkg="srs_control_task" type="decisionMaking.py" respawn="true"/>



</launch>
