<?xml version="1.0"?>
<launch>

	<!-- start Gazebo -->
	<include file="$(find cob_bringup)/ros/launch/sim.launch"/>

	<!-- start navigation -->
	<include file="$(find cob_2dnav)/ros/launch/2dnav_ipa.launch"/>

	<!-- start script server and upload default parameters -->
	<include file="$(find cob_script_server)/launch/script_server.launch"/>

	<!-- upload additional parameters -->
	<rosparam command="load" ns="script_server/base" file="$(find srs_demo_gesture)/ros/launch/navigation_goals.yaml"/>

</launch>
