<?xml version="1.0"?>
<launch>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find srs_training)/urdf/box_world.urdf.xacro'" />

	<!-- start box controller -->
	<node pkg="srs_training" type="move_box.py" name="box_controller" output="screen"/>

	<!-- Run rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find srs_training)/config/02_navigation.vcg" />
	
	<!-- start interactive teleop -->
	<include file="$(find cob_interactive_teleop)/launch/interactive_teleop.launch">
		<arg name="base_topic" value="/base_controller/command"/>
	</include>

</launch>

