<launch>
    
  <!-- BUT assisted arm navigation -->
  <include file="$(find srs_assisted_arm_navigation)/launch/but_arm_nav_sim.launch"/>

  <!-- Run but_gui server -->
  <!--<node name="but_gui_service_server" pkg="srs_env_model" type="but_gui_service_server" />-->

  <!-- object db - for grasping -->
  <include file="$(find srs_object_database)/launch/srs_db.launch"/>

  <!-- srs_grasping -->
  <node pkg="srs_grasping" type="get_db_grasps.py" name="get_db_grasps" ns="get_db_grasps" cwd="node" respawn="false" output="screen" />
  <!--node pkg="srs_grasping" type="get_feasible_grasps.py" name="get_feasible_grasps" ns="get_feasible_grasps" cwd="node" respawn="false" output="screen" /-->
  <node pkg="srs_grasping" type="get_pregrasps.py" name="get_pregrasps" ns="get_pregrasps" cwd="node" respawn="false" output="screen" />


  <!-- start object detection -->
  <include file="$(find cob_object_detection_fake)/ros/launch/object_detection_fake.launch"/>

</launch>
