<?xml version="1.0"?>
<launch>
    
  <!-- BUT assisted arm navigation -->
  <include file="$(find srs_assisted_arm_navigation)/launch/but_arm_nav_sim.launch"/>
  
  <!-- simulated SDH velocity interface -->
  <include file="$(find srs_assisted_grasping)/launch/velocity_interface_sim.launch"/>

  <!-- grasping action server -->
  <include file="$(find srs_assisted_grasping)/launch/grasping_node.launch"/>

  <!-- object db - for grasping -->
  <include file="$(find srs_object_database)/launch/srs_db.launch"/>

  <!-- srs_grasping -->
  <node pkg="srs_grasping" type="get_db_grasps.py" name="get_db_grasps" ns="get_db_grasps" cwd="node" respawn="false" output="screen" />
  <node pkg="srs_grasping" type="get_pregrasps.py" name="get_pregrasps" ns="get_pregrasps" cwd="node" respawn="false" output="screen" />

  <!-- start object detection -->
  <include file="$(find cob_object_detection_fake)/ros/launch/object_detection_fake.launch"/>
  
  <!-- RVIZ with proper configuration (assisted arm navigation + grasping) -->
  <include file="$(find srs_arm_navigation_tests)/launch/rviz.launch"/>

</launch>
