<?xml version="1.0"?>
<launch>

  <!-- this call states for assisted grasping of unknown object -->
  <!-- grasping_unknown_object_{test,robot}.launch must be started in advance -->
  <node name="fake_dm_grasp" pkg="srs_arm_navigation_tests" type="grasp_unknown_object.py" output="screen">
    
    <rosparam command="load" file="$(find srs_arm_navigation_tests)/config/params.yaml" />
    
  </node>

</launch>
