<launch>

	<!-- send cup to param server -->
	<param name="salt" textfile="$(find cob_gazebo_objects)/objects/salt.urdf" />

	<!-- spawn model in gazebo -->
	<node name="spawn_salt" pkg="gazebo" type="spawn_model" args="-urdf -param salt -x -2.95 -y -0.05 -z 1.02 -R 0 -P 0 -Y 0 -model jodsalz" respawn="false" output="screen" />

</launch>
