<?xml version="1.0"?>
<launch>

  <!-- Configuration for COB, navigation -->
  <include file="$(find cob_default_robot_config)/upload_param.launch" />
  <include file="$(find cob_default_env_config)/upload_param.launch" />

  <param name="/use_sim_time" value="true" />
  <include file="$(find cob_bringup_sim)/launch/robot.launch" />
  
  <!-- 2D navigation -->
  <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
  
  <!-- start COB script server -->
  <!--include file="$(find cob_script_server)/launch/script_server.launch"/-->
  
  <!-- Reactive grasping node -->
  <include file="$(find srs_assisted_grasping)/launch/grasping_node.launch"/>
  
  <!-- Visualization of original and filtered tactile data -->
  <include file="$(find srs_assisted_grasping)/launch/tactile_filter_gui.launch"/>
  
  <!-- Wrapper for simulation (implementation of velocity interface) -->
  <include file="$(find srs_assisted_grasping)/launch/velocity_interface_sim.launch"/>
  
  <include file="$(find srs_assisted_arm_navigation)/launch/kinect_throttling.launch"/>
  
  <!-- ARM manipulation stuff -->
  <include file="$(find srs_assisted_arm_navigation)/launch/arm_nav_common.launch"/>
  
  <!-- BUT planning environment -->
  <include file="$(find srs_assisted_arm_navigation)/launch/planning_env_but.launch"/>

</launch>
