<?xml version="1.0"?>
<launch>
    <!-- Set to use simulation time -->
    <param name="/use_sim_time" value="true"/>

    <!-- Kinect throttling -->
    <include file="$(find srs_env_model)/launch/kinect_throttling.launch">
        <arg name="max_rate" value="3.0" />
    </include>

    <!-- Run our GUI nodes -->
    <!--include file="$(find srs_interaction_primitives)/launch/interaction_primitives.launch" /-->

    <!-- Run the plane detection -->
    <!--include file="$(find srs_env_model_percp)/launch/but_planedet_common.launch" /-->
    <include file="$(find srs_env_model_percp)/launch/but_planedet_robot.launch" />

    <!-- Run rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-f /map -d $(find srs_env_model_percp)/config/planedet_rviz_bag.vcg" />

</launch>

