<?xml version="1.0"?>
<launch>
  
   
  <!-- start COB script server -->
  <include file="$(find cob_script_server)/launch/script_server.launch"/>
  
  <!-- srs interaction primitives -->
  <node name="interaction_primitives" pkg="srs_interaction_primitives" type="interaction_primitives_service_server">
    <param name="allow_object_interaction" type="bool" value="false"/>
    <param name="show_object_pregrasp" type="bool" value="true"/>
    <param name="move_arm_to_pregrasp_on_click" type="bool" value="true" />
  </node>
  
  <!-- BB estimator server -->
  <node pkg="srs_env_model_percp" type="bb_estimator_server" name="bb_estimator">
        <rosparam file="$(find srs_env_model_percp)/config/bb_estimator_params.yaml" command="load" />
        <remap from="camera_info_in" to="/cam3d/rgb/camera_info" />
        <!-- remap from="depth_image_in" to="/cam3d/depth/image_raw" /-->
        <remap from="points_in" to="/cam3d/depth/points_throttled" />
  </node>
  
  <!-- grasping action server -->
  <!--include file="$(find srs_assisted_arm_navigation)/launch/grasping_node.launch"/-->
   
  <node pkg="nodelet" type="nodelet" name="nodelet_manager_image_flip"  args="manager" output="screen"/>
  
  <!-- kinect image flip nodelet - flips kinect images if robot is looking backwards -->
  <node pkg="nodelet" ns="cam3d" type="nodelet" name="CobKinectImageFlipNodelet" args="load ipa_CameraSensors/CobKinectImageFlipNodelet /nodelet_manager_image_flip" output="screen">
    <remap from="pointcloud" to="/cam3d/depth/points"/>
    <remap from="colorimage" to="/cam3d/rgb/image_color"/>
  </node>
  
  
  

</launch>
