<?xml version="1.0"?>
<launch>

  <!-- arm manipulation actionlib server -->
  <node pkg="srs_assisted_arm_navigation" name="assisted_arm_navigation" type="assisted_arm_navigation_node" respawn="false" output="screen">
  
    <rosparam command="load" file="$(find srs_assisted_arm_navigation)/config/arm_links.yaml" />
    
    
  
    <param name="start_timeout" type="double" value="0.0"/> <!-- 0.0 == timeout is disabled -->
    <param name="solve_timeout" type="double" value="0.0"/>
    
    <param name="inflate_bb" type="double" value="1.1"/>
    <param name="world_frame" type="string" value="/base_link"/>
    <param name="end_eff_link" type="string" value="sdh_palm_link"/>
    <param name="joint_controls" type="bool" value="false"/>
    
    <param name="aco/link" type="string" value="arm_7_link"/>
    <param name="aco/default_state" type="bool" value="false"/>
    
    <param name="spacenav/enable_spacenav" type="bool" value="true"/>    
    <param name="spacenav/use_rviz_cam" type="bool" value="true"/>
    <param name="spacenav/rviz_cam_link" type="string" value="/rviz_cam"/>
    <param name="spacenav/max_val" type="double" value="350.0"/>
    <param name="spacenav/min_val_th" type="double" value="0.05"/> <!-- from 0 to 0.5x of max_val  -->
    <param name="spacenav/step" type="double" value="0.05"/>
    <param name="spacenav/rot_step" type="double" value="0.1"/>
  </node>
  
</launch>
