<?xml version="1.0"?>
<launch>
  
  <include file="$(find srs_assisted_arm_navigation)/launch/arm_nav_common.launch"/>
  
  <!-- BUT planning environment -->
  <include file="$(find srs_assisted_arm_navigation)/launch/planning_env_but.launch"/>
  
  
  <!-- RVIZ with proper configuration -->
  <include file="$(find srs_assisted_arm_navigation_ui)/launch/rviz.launch"/>
  <!--node pkg="rviz" type="rviz" name='rviz_warehouse_viewer' args="-d $(find srs_assisted_arm_navigation)/config/arm_manip_but.vcg">
    <param name="wait_for_start" type="bool" value="true" />
  </node-->
  
</launch>
