<launch>

  <param name="/use_sim_time" value="true" />

  <!-- Configuration for COB, bringup simulation -->
  <include file="$(find cob_default_robot_config)/upload_param.launch" />
  <include file="$(find cob_default_env_config)/upload_param.launch" />
  <include file="$(find cob_navigation_global)/launch/2dnav_ros.launch" />
  <include file="$(find cob_bringup_sim)/launch/robot.launch" />
  
  <!-- start COB script server -->
  <include file="$(find cob_script_server)/launch/script_server.launch"/>
  
  <!-- srs interaction primitives -->
  <node name="but_interaction_primitives" pkg="srs_interaction_primitives" type="but_interaction_primitives_service_server">
    <param name="allow_object_interaction" type="bool" value="false"/>
    <param name="show_object_pregrasp" type="bool" value="true"/>
  </node>
  
  <!-- actionlibserver -->
  <include file="$(find srs_assisted_arm_navigation)/launch/arm_manip_node.launch"/>
  
  <!-- BUT planning environment -->
  <include file="$(find srs_assisted_arm_navigation)/launch/planning_env_but.launch"/>
	
	<!-- move arm warehouse-->
  <include file="$(find srs_assisted_arm_navigation)/launch/planning_scene_warehouse_viewer_cob3_3_robot.launch"/>
  
  <!-- RVIZ with proper configuration -->
  <node pkg="rviz" type="rviz" name='rviz_warehouse_viewer' args="-d $(find srs_assisted_arm_navigation)/config/arm_manip_but.vcg">
    <param name="wait_for_start" type="bool" value="true" />
  </node>
  
  <!-- BUT cob teleop marker -->
  <node name="cob_interactive_teleop" pkg="cob_interactive_teleop" type="interactive_teleop" />
  
</launch>
