<?xml version="1.0"?>
<launch>

  <!-- Configuration for COB, navigation -->
  <include file="$(find cob_default_robot_config)/upload_param.launch" />
  <include file="$(find cob_default_env_config)/upload_param.launch" />
  <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
  
  <!-- just for testing -->
  <include file="$(find cob_tactiletools)/launch/gui.launch" />
  
  <!-- tactile sensors filters -->
  <include file="$(find cob_tactiletools)/launch/filters.launch"/>
  
</launch>
