<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <include file="$(find cob_bringup_sim)/launch/robot.launch" />
  
  <include file="$(find srs_assisted_arm_navigation)/launch/cob_common.launch"/>
  
  <include file="$(find srs_assisted_arm_navigation)/launch/arm_nav_common.launch"/>
  
  <!-- perception and collision aware kinematics-->
  <include file="$(find cob_arm_navigation)/launch/cob_arm_navigation.launch"/>
  
  <!-- move arm warehouse-->
  <include file="$(find srs_assisted_arm_navigation)/launch/planning_scene_warehouse_viewer_cob3_3_robot.launch"/>
  
  <!-- RVIZ with proper configuration -->
  <node pkg="rviz" type="rviz" name='rviz_warehouse_viewer_but' args="-d $(find srs_assisted_arm_navigation)/config/arm_manip_collider.vcg">
    <param name="wait_for_start" type="bool" value="true"/>
  </node>
  
</launch>
