<launch>
 
  <!-- customized copy of cob_arm_navigation.launch and kinect_perception.launch from cob_arm_navigation -->
  <group>
  
    <include file="$(find cob_arm_navigation)/launch/cob_planning_environment.launch" />

	  <include file="$(find cob_arm_navigation)/launch/constraint_aware_kinematics.launch" />
	  <include file="$(find cob_arm_navigation)/launch/ompl_planning.launch" />
	  <include file="$(find cob_arm_navigation)/launch/trajectory_filter_server.launch" />
	  <include file="$(find cob_arm_navigation)/launch/move_groups.launch" />

	  <!--maybe needed for table_top_manipulation --> 
		<include file="$(find trajectory_filter_server)/launch/trajectory_unnormalize.launch"/>
			    
	</group>
	
	<!-- customized copy of cob_arm_navigation.launch and kinect_perception.launch from cob_arm_navigation -->
	<group>
	
	  <!-- self filter Kinect points -->
    <node pkg="robot_self_filter" type="self_filter" respawn="true" name="stereo_self_filter" output="screen">
      <remap from="cloud_in" to="/cam3d/depth/points" />
      <remap from="cloud_out" to="/cam3d/depth/points_filtered2" />
      <param name="sensor_frame" type="string" value="head_cam3d_link" />
      <param name="subsample_value" type="double" value=".02"/>
      <rosparam command="load" file="$(find cob_arm_navigation)/config/$(env ROBOT)/self_filter.yaml" />
    </node>
      
    <node pkg="planning_environment" type="environment_server" output="screen" name="environment_server">      
      <param name="use_monitor" type="bool" value="true"/>
      <param name="use_collision_map" type="bool" value="true"/>
      <param name="global_frame" type="string" value="/map"/>
      <remap from="collision_map_occ" to="/but_server_node/butsrv_collision_map"/>
    </node>
    
    <node pkg="planning_environment" type="planning_scene_validity_server" output="screen" name="planning_scene_validity_server"/>      
  
  <!-- Run BUT dynamic scene model server node -->
  <node name="but_server_node" pkg="srs_env_model" type="but_server_node">
    <param name="pointcloud_subscriber" value="/cam3d/depth/points_filtered2"/>
    <param name="max_range" type="double" value="2.5"/>
    <param name="pointcloud_min_z" value="0.2" type="double"/>
  </node>
	
	</group>
  
  
</launch>
