<?xml version="1.0"?>
<launch>
	<!-- start Gazebo -->
	<include file="$(find cob_bringup)/ros/launch/sim.launch"/>
	<!-- milk box -->
	<include file="$(find cob_gazebo_worlds)/ros/launch/milk_box.launch"/>
	<!-- start navigation -->
	<include file="$(find cob_2dnav)/ros/launch/2dnav.launch"/>
	<!-- start MixedRealityServer -->
	<include file="$(find MixedRealityServer)/ros/launch/MRS.launch"/>
        <!-- start RosBridge -->
        <node name="rosbridge.py" pkg="rosbridge" type="rosbridge.py" respawn="true" />
        <!-- start GeneralDatabase -->
        <node name="srs_gdatabase" pkg="gdatabase" type="srs_gdatabase" respawn="true" />
        <!-- start Decision Making task executor -->
        <node name="task_executor.py" pkg="srs_control_task" type="task_executor.py" respawn="true" />
        <!-- start Decision Making translate server -->
        <node name="translate_server.py" pkg="srs_control_task" type="translate_server.py" respawn="true" />
        <!-- start Decision Making engine -->
        <node name="decisionMaking.py" pkg="srs_control_task" type="decisionMaking.py" respawn="true" />
</launch>
