<?xml version="1.0"?>
<launch>
	<!-- mixed reality server streamer -->
        <node name="MRS" pkg="MixedRealityServer" type="MRS" respawn="true" />
	<!-- mixed reality server robot base coordinate publisher -->
        <node name="MapRF" pkg="MixedRealityServer" type="MapTF" respawn="true" />
	<!-- mixed reality server gdatabase object drawer -->
        <node name="ControlMRS" pkg="MixedRealityServer" type="ControlMRS" respawn="true" />
</launch>
