<?xml version="1.0"?>
<launch>
    <!-- Configuration for COB, bringup simulation -->
    <include file="$(find cob_default_robot_config)/upload_param.launch" />
    <include file="$(find cob_default_env_config)/upload_param.launch" />
    <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" />
    <include file="$(find cob_bringup_sim)/launch/robot.launch" />

   <include file="$(find srs_ui_but)/launch/data_fusion.launch"/>
   <node pkg="cob_interactive_teleop" type="interactive_teleop" name="interactive_teleop" />

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find srs_ui_but)/config/data_fusion.vcg" />
</launch>

