<?xml version="1.0"?>
<launch>
    <!-- Configuration for COB, bringup simulation -->
    <include file="$(find srs_ui_but)/launch/run_sim.launch" />

    <include file="$(find srs_env_model)/launch/but_envmodel_common.launch"/>
    <include file="$(find cob_interactive_teleop)/launch/interactive_teleop.launch"/>

    <include file="$(find srs_ui_but)/launch/distance_visualizer.launch"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find srs_ui_but)/config/distance_visualizer_test.vcg" />
</launch>

