<?xml version="1.0"?>
<launch>
    <!-- Configuration for COB, bringup simulation -->
    <include file="$(find srs_ui_but)/launch/run_sim.launch" />

    <include file="$(find srs_ui_but)/launch/object_manager.launch" />

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find srs_ui_but)/config/object_manager.vcg" />
</launch>


