<?xml version="1.0"?>
<launch>
    <!-- Configuration for COB, bringup simulation -->
    <include file="$(find srs_ui_but)/launch/run_sim.launch" />

    <!-- Kinect throttling -->
    <include file="$(find srs_env_model_utils)/launch/kinect_throttling.launch" />

    <!-- Run our dynamic scene model server node -->
    <include file="$(find srs_env_model)/launch/but_envmodel_common.launch" />

    <!-- Run our interactive teleop -->
    <include file="$(find cob_interactive_teleop)/launch/interactive_teleop.launch">
        <arg name="param_file" value="$(find srs_ui_but)/config/interactive_teleop_sim.yaml" />
    </include>

    <!-- Run our GUI nodes -->
    <include file="$(find srs_interaction_primitives)/launch/interaction_primitives.launch" />
    <!-- include file="$(find srs_ui_but)/launch/cob_stretch_indicator.launch" /-->
    <!-- include file="$(find srs_ui_but)/launch/distance_visualizer.launch" /-->

    <!-- Run the plane detection node -->
    <include file="$(find srs_env_model_percp)/launch/but_planedet_common.launch" />
    <!--include file="$(find srs_env_model_percp)/launch/planedet_demo.launch" /-->

    <!-- Run rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-l -f /map -d $(find srs_ui_but)/config/planedet_test.vcg" />

</launch>

