<launch>
  <!-- send urdf to param server -->
  <param name="milk_description" textfile="$(find cob_gazebo_objects)/objects/milk.urdf" /> 
  <!-- spawn the model in gazebo -->
  <node name="spawn_Milkbox" pkg="gazebo" type="spawn_model" args="-x -3.0 -y -0.2 -z 1.02 -urdf -param milk_description -model Milkbox" respawn="false" output="screen" /> 
</launch>
