<?xml version="1.0"?>
<launch>
	<!-- Start SRS common -->
	<include file="$(find srs_scenarios)/ros/launch/srs_scenario_common.launch"/>

        <!-- SRS enviroment parameters -->
	<include file="$(find srs_environments)/ros/launch/planned_grasp.launch"/>

	<!-- grasp service -->	
	<include file="$(find srs_grasping)/launch/grasping_services.launch"/>

        <!-- srs_ui_pro services -->
        <include file="$(find srs_ui_pro)/launch/srs_ui_pro.launch"/>

	<!-- srs_arm_kinematics dependency -->
	<!--include file="$(find cob_arm_navigation)/launch/start_planning_environment.launch"/-->
</launch>
