<?xml version="1.0"?>
<launch>

        <!-- SRS common enviroment parameters -->
	<include file="$(find srs_environments)/ros/launch/common.launch"/>

	<!-- start Gazebo -->
	<include file="$(find cob_bringup_sim)/launch/robot.launch"/>

	<!-- start navigation omini-->
	<include file="$(find cob_navigation_global)/launch/2dnav_ros.launch"/>

	<!--start navigation linear-->
	<include file="$(find cob_navigation_linear)/ros/launch/2dnav_linear_include.launch"/>

	<!-- start object detection -->
	<include file="$(find cob_object_detection_fake)/ros/launch/object_detection_fake.launch"/>
	
	<!-- upload parameters -->
	<include file="$(find cob_default_robot_config)/upload_param.launch"/>	
	<include file="$(find cob_default_env_config)/upload_param.launch"/>	

	<!-- table -->
	<include file="$(find srs_scenarios)/ros/launch/table_ikea.launch"/>

	<!-- decision making action server-->
	<include file="$(find srs_decision_making)/ros/launch/srs_decision_making.launch"/>
</launch>
