<?xml version="1.0"?>
<launch>
        <!-- SRS enviroment parameters -->
	<include file="$(find srs_environments)/ros/launch/assisted_grasp.launch"/>

	<!-- start SRS common -->
	<include file="$(find srs_scenarios)/ros/launch/srs_scenario_common.launch"/>

	<!-- grasp service -->	
	<include file="$(find srs_grasping)/launch/grasping_services.launch"/>

	<!-- grasp service -->	
	<include file="$(find srs_assisted_arm_navigation)/launch/but_arm_nav_with_dm.launch"/>

</launch>
