<launch>
    <node pkg="cob_arm_navigation" type="kinematics_node" name="srs_arm_kinematics" output="screen">
        <param name="group" type="string" value="arm" />
        <param name="use_collision_map" type="bool" value="false" />
        <param name="arm/root_name" type="string" value="base_link" />
        <param name="arm/tip_name" type="string" value="sdh_palm_link" />
        <param name="arm/robot" type="string" value="$(env ROBOT)" />
        <param name="kinematics_solver" type="string" value="cob3_arm_kinematics/KDLArmKinematicsPlugin" />
    </node>
</launch>
