<launch>

   <node pkg="srs_grasping" type="get_grasp_configurations.py" name="get_grasp_configurations" ns="get_grasp_configurations" cwd="node" respawn="false" output="screen" />

   <node pkg="srs_grasping" type="get_grasps_from_position.py" name="get_grasps_from_position" ns="get_grasps_from_position" cwd="node" respawn="false" output="screen" />

<!--shifted to DM, as the service is required by other componenets as well -->
<!--include file="$(find cob_manipulator)/ros/launch/kdl_solver.launch"/-->
<include file="$(find cob_tactiletools)/launch/filters.launch"/>

</launch>
