<?xml version="1.0"?>
<launch>

	<!-- start Gazebo -->
	<include file="$(find cob_bringup)/ros/launch/sim.launch"/>

	<!-- milk box
	<include file="$(find cob_gazebo_worlds)/ros/launch/milk_box.launch"/>
-->
	<!-- start navigation -->
	<include file="$(find cob_2dnav)/ros/launch/2dnav_ipa.launch"/>

	<!-- start sensor fusion -->
	<include file="$(find cob_sensor_fusion)/ros/launch/sensor_fusion_stereo.launch"/>

	<!-- start object detection -->
	<include file="$(find cob_object_detection)/ros/launch/object_recognition_stereo.launch"/>

	<!-- start script server and upload default parameters -->
	<include file="$(find cob_script_server)/launch/script_server.launch"/>

	<!-- upload additional parameters -->
	<rosparam command="load" ns="script_server/sdh" file="$(find cob_srs)/ros/launch/sdh_joint_configurations.yaml"/>

</launch>
